.Rproj.user
.Rhistory
.RData
.Ruserdata

# Internal temp files
01_DataInput/osm/**
02_DataCreated/temp/**
02_DataCreated/temp_matrix/**
02_DataCreated/extras/**
09x-drafts/**
09x-extras/**
09x-RTScompare/**
09x-LTDScompare/**
09x-LTDShilliness/**
